<html lang="en-us">

    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>API Documentation</title>
        <link href="css/css2.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main2.css">
        <link rel="shortcut icon" href="images/icon.png">
        <script src="js/uikit.js"></script>
    </head>
    <body>

        <header>
            <div data-sticky="animation: animation-slide-top; sel-target: .navbar-container; cls-active: navbar-sticky; cls-inactive: navbar-transparent; top: 200">
                <nav class="navbar-container">
                    <div class="container">
                        <div data-navbar="">
                            <div class="navbar-left">
                                <ul class="navbar-nav visible@m">
                                    <li>
                                        <a href="./">Home</a>
                                    </li>
                                    <li>
                                        <a href="./doc">Documentation</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>


        <div class="section">
            <div class="container">
                <div class="grid-large" data-grid="">
                    <div class="width-1-1 width-expand@m">


                        <article class="article">
                            <h1 class="article-title">API Documentation</h1>

                            <div class="article-content link-primary">
                                <p>
                                    This api provides data for multiple services including covid-19 data, hypixel player and server data, and more coming soon!
                                </p>
                            </div>

                            <hr>

                            <h1 class="article-title">COVID-19 API</h1>
                            <div class="language-bash highlighter-rouge">
                                <div class="highlight">
                                    <pre class="highlight"><code>GET: http://kevinmuscara.com/api/corona</code></pre>
                                </div>
                            </div>
                            <p><code>/</code> - returns world data</p>
                            <p><code>/deaths</code> - returns world deaths</p>
                            <p><code>/confirmedCases</code> - returns world confirmed cases</p>
                            <p><code>/totalRecovered</code> - returns world total recovered</p>
                            <br>
                            <p><code>/{country}</code> - returns [country] data</p>
                            <p><code>/{country}/deaths</code> - returns [country] deaths</p>
                            <p><code>/{country}/confirmedCases</code> - returns [country] confirmed cases</p>
                            <p><code>/{country}/totalRecovered</code> - returns [country] total recovered</p>
                            <br>
                            <p><code>/usa/{state}</code> - returns USA [state] data</p>
                            <p><code>/usa/{state}/deaths</code> - returns USA [state] deaths</p>
                            <p><code>/usa/{state}/confirmedCases</code> - returns USA [state] confirmed cases</p>
                            <p><code>/usa/{state}/totalRecovered</code> - returns USA [state] total recovered</p>

                            <hr>

                            <h1 class="article-title">Hypixel Player Data API</h1>
                            <div class="language-bash highlighter-rouge">
                                <div class="highlight">
                                    <pre class="highlight"><code>GET: http://kevinmuscara.com/api/player</code></pre>
                                </div>
                            </div>
                            <p><code>/{playerName}</code>- returns all [playerName]'s hypixel data</p>

                            <hr>

                            <h1 class="article-title">Hypixel Player Server API</h1>
                            <div class="language-bash highlighter-rouge">
                                <div class="highlight">
                                    <pre class="highlight"><code>GET: http://kevinmuscara.com/api/</code></pre>
                                </div>
                            </div>
                            <p><code>/bans</code>- returns server ban statistics</p>

                            <hr>

                            <h1 class="article-title">Website API</h1>
                            <div class="language-bash highlighter-rouge">
                                <div class="highlight">
                                    <pre class="highlight"><code>GET: http://kevinmuscara.com/api/</code></pre>
                                </div>
                            </div>
                            <p><code>/health</code>- returns statistics of this website</p>
                    </article>


                </div>
            </div>
        </div>
    </body>
</html></div><footer class="section text-center text-muted">
<div class="container container-small">
    <div>
        <ul class="subnav flex-center">
            <li>
                <a href="./">Home</a>
            </li>
            <li>
                <a href="./doc">Documentation</a>
            </li>
        </ul>
    </div>
</div></footer></body></html>
