<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Kevin Muscara</title>
        <link rel="stylesheet" href="css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
    <body>
        <div class="wrapper">
          <header>  
            <div>
              <h1>Kevin Muscara</h1>
              <a><h5>kevin.muscara@stu.jessamine.kyschools.us</h5></a>
            </div>
            <br>
            <div>
              <h4>My spotify playlist</h4>
              <iframe src="https://open.spotify.com/embed/playlist/4J8gyckFVOMrQ6FOnpjYe9" width="250" height="700" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
          </header>
            <section>
                <h1 class="first">Career Objective</h1>
                <p>As a sophomore in highschool I have very simple long term goals. I have a deep aspiration towards computer science and networking, and want to major in computer science and information technology. I seek a role in which I can apply my experiences and skills to become a hardworking and cooperative leader in the field of science and technology.</p>
                <br>
                <h1 class="first">Education</h1>
                <ul>
                  <li>
                    West Jessamine High School <a>(August 2018 - Present)</a>
                  </li>
                  <li>
                    Jessamine Career and Technology Center <a>(August 2018 - Present)</a>
                  </li>
                </ul>
                <br>
                <h1 class="first">Community Service</h1>
                <ul>
                  <li>
                    Jessamine County Food Pantry Volunteer <a>(February 2018 - Present)</a>
                  </li>
                  <li>
                    Jessamine Career and Technology Center Student Ambassador <a>(September 2019 - Present)</a>
                  </li>
                </ul>
                <br>
                <h1 class="first">Current Employment</h1>
                <ul>
                  <li>
                    District Technology Office Student Worker <a>(June 2019 - Present)</a>
                  </li>
                </ul>
                <br>
                <a name="projects"></a>
                <h1 class="not-first">My projects and experiences</h1>
                <ul>
                  <li>
                    <a href="http://kevinmuscara.com/corona">COVID-19 Stats</a> (Node.js) Shows COVID-19 stats for my state.
                  </li>
                  <li>
                    <a href="http://kevinmuscara.com/api/player/hypixel">Hypixel API</a> (Node.js) Get hypixel player data. http://kevinmuscara.com/api/player/<a>{username}</a>
                  </li>
                </ul>
                <h3 class="not-first">Real-Time Programming Activity</h3>
                <p>
                    <div class="coding-activity">
                        <figure style="width:49%; display:inline-block; margin: 0;"><embed src="https://wakatime.com/share/@289a17d3-6bc1-4515-9940-17f1d5d92cba/c51c1ebb-691f-4f29-900c-29c78f0bff7c.svg"></embed></figure>
                        <figure style="width:49%; display:inline-block; margin: 0;"><embed src="https://wakatime.com/share/@289a17d3-6bc1-4515-9940-17f1d5d92cba/0228ef4a-aa1c-4b0f-8527-778972c63bc2.svg"></embed></figure>
                    </div>
                </p>
                <br>
                
            </section>
        </div>
        <script src="js/scale.fix.js"></script>
    </body>
</html>
