<html>
    <head>
        <title>Kevin Muscara</title>
        
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="js/jquery.min.js"></script>
        <script src="js/965e9d2441.js"></script>
        <script src="js/main.js"></script>
    </head>

    <body>
        <div>
            <div class="content">
                <h1 class="hue">Kevin Muscara</h1>
                <h2>Backend Node.js Developer & Discord bot maker</h2>
            </div>
            <div class="social">
                <h1 class="hue">
                    <a href="https://github.com/kevinmuscara">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </h1>
            </div>
        </div>
    </body>
</html>
