<html lang="en-us">

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kevin Muscara</title>
    <link href="css/css2.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main2.css">
    <script src="js/uikit.js"></script>
    </head><body>

<header>
		<div data-sticky="animation: animation-slide-top; sel-target: .navbar-container; cls-active: navbar-sticky; cls-inactive: navbar-transparent; top: 200">
	  <nav class="navbar-container">
	    <div class="container">
	      <div data-navbar="">
		  <div class="navbar-left">
		  <a class="navbar-item logo visible@m" href="">Kevin Muscara</a>
		  </div>
	        <div class="navbar-right">
	          <ul class="navbar-nav visible@m">
	            <li><a href="http://kevinmuscara.com">Home</a></li>
				<li><a href="http://api.kevinmuscara.com/">API Docs</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </nav>
	</div>
</header>

<div class="section">
	<div class="container container-xsmall">
		<h2 class="h1 text-center"><img src="images/avatar.png" alt="Logo" style="width:150px;"></h2>

		<h1 class="article-title text-center">Projects and experiences</h1>
		<div class="card card-default box-shadow-small box-shadow-hover-medium card-post inline border-radius-medium border-xlight width-1-1 margin">
			<div class="card-body">
				<ul>
					<li>
					  <a href="http://api.kevinmuscara.com">Doc</a> (Node.js) Documentation for all my API's.
					</li>
					<li>
					  <a href="http://kevinmuscara.com/covid">COVID-19 Stats</a> (Node.js) Example usage of my covid-19 api.
					</li>
				  </ul>
			</div>
		</div>

		<h1 class="article-title text-center">Real-time programming activity</h1>
		
		<div class="card card-default box-shadow-small box-shadow-hover-medium card-post inline border-radius-medium border-xlight width-1-1 margin">
			<div class="card-body">
				<figure><embed src="https://wakatime.com/share/@289a17d3-6bc1-4515-9940-17f1d5d92cba/c51c1ebb-691f-4f29-900c-29c78f0bff7c.svg"></embed></figure>
			</div>
		</div>

		<div class="card card-default box-shadow-small box-shadow-hover-medium card-post inline border-radius-medium border-xlight width-1-1 margin">
			<div class="card-body">
				<figure><embed src="https://wakatime.com/share/@289a17d3-6bc1-4515-9940-17f1d5d92cba/0228ef4a-aa1c-4b0f-8527-778972c63bc2.svg"></embed></figure>
			</div>
		</div>

		<div class="card card-default box-shadow-small box-shadow-hover-medium card-post inline border-radius-medium border-xlight width-1-1 margin">
			<div class="card-body">
				<figure><embed src="https://wakatime.com/share/@289a17d3-6bc1-4515-9940-17f1d5d92cba/bca3edff-45e4-4ed6-9e9f-9328584613b7.svg"></embed></figure>
			</div>
		</div>

	</div>
</div>

<footer class="section text-center text-muted">
	<div class="container container-small">
		<div>
			<ul class="subnav flex-center">
				<li><a href="/">Home</a></li>
			</ul>
		</div>
	</div>
</footer></body></html>