<style>
    body {
        background-color: rgb(10,10,10);
    }
</style>

<body>
    <form method="POST" action="/api/signup/">
        <input type="text" placeholder="Email" value="email" id="email" /><br />
        <input type="text" placeholder="Username" value="username" id="username" /><br />
        <input type="text" placeholder="Password" value="password" id="password" /><br />
        <input type="submit" placeholder="Signup" />
    </form>
</body>